<div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/rmhome/setting">Back</a>
            </div>
        </div>
</div>
<br>
<br>
<br>
<br>
<div class="list-group">
    <a class="list-group-item active">
        Device Lists
    </a>
</div>
<div class="list-group">
    <a class="list-group-item" ng-repeat="(DeviceID,device) in devices">
        <h4 class="list-group-item-heading">{{device.model}} | {{device.platform}} | {{device.version}}</h4>
        <span class="badge" ng-click="DeleteDevice(DeviceID)"><i class="glyphicon glyphicon-remove"></i></span>
        <p class="list-group-item-text">UUID:{{device.uuid}}</p>
    </a>
</div>
<div class="list-group">
    <a class="list-group-item active">
    Current Device
  	</a>
    <li class="list-group-item">
        Name:  {{device.name}}
    </li>
    <li class="list-group-item">
        Model:  {{device.model}}
    </li>
    <li class="list-group-item">
        UUID:  {{device.uuid}}
    </li>
    <li class="list-group-item">
        Cordova:  {{device.cordova}}
    </li>
    <li class="list-group-item">
        Platform:  {{device.platform}}
    </li>
    <li class="list-group-item">
        Version:  {{device.version}}
    </li>
    <a class="list-group-item active">
    Connection
  	</a>
    <li class="list-group-item">
        Connection Type:  {{connection}}
    </li>
    <li class="list-group-item">
        Connection Time:  {{connect_time}}
    </li>
    
</div>
<button type="submit" ng-click="addDevice()">New Device</button>