<div class="container posts-page">
    <div class="item item-divider">
        Device	
    </div>
    <li class="list-group-item">
        Name:  {{device.name}}
    </li>
    <li class="list-group-item">
        Model:  {{device.model}}
    </li>
    <li class="list-group-item">
        UUID:  {{device.uuid}}
    </li>
    <li class="list-group-item">
        Cordova:  {{device.cordova}}
    </li>
    <li class="list-group-item">
        Platform:  {{device.platform}}
    </li>
    <li class="list-group-item">
        Version:  {{device.version}}
    </li>
    <div class="item item-divider">
        Connection	
    </div>
    <li class="item">
        Connection Type:  {{connection}}
    </li>
    <li class="item">
        Connection Time:  {{connect_time}}
    </li>
</div>