<div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/rmhome/poa">Back</a>
            </div>
        </div>
</div>
<br><br><br><br>
<h4> Release Purchase Orders</h4>
<div class="list-group">
  <a class="list-group-item">
    <h4 class="list-group-item-heading">{{rel_po_lists.PURCHASEORDER}}</h4>
    <p class="list-group-item-text">{{rel_po_lists.RETURN[0].TYPE}}</p>
    <p class="list-group-item-text">no time field</p>
  </a>
</div>