<div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/rmhome">Back</a>
            </div>
        </div>
</div>
<br>
<br>
<br>
<br>
<div class="container posts-page">
    
    <li class="list-group-item">
        <span class="badge"></span>
        <a href="#/rmhome/setting/device"><b class="glyphicon glyphicon-th-large"></b>    Device Info</a>
        <a href="#/rmhome/setting/device" class="container pull-right glyphicon glyphicon-chevron-right"></a>
    </li>
    <li class="list-group-item">
        <span class="badge"></span>
        <a href="#/rmhome/setting/con_list"><b class="glyphicon glyphicon-record"></b>    SAP System</a>
        <a href="#/rmhome/setting/con_list" class="container pull-right glyphicon glyphicon-chevron-right"></a>
    </li>
    <li class="list-group-item">
        <span class="badge"></span>
        <a href="#/rmhome/setting/userprofile"><b class="glyphicon glyphicon-user"></b>    User Profile</a>
        <a href="#/rmhome/setting/userprofile" class="container pull-right glyphicon glyphicon-chevron-right"></a>
    </li>
    <br><br>
	<button type="button" class="btn btn-danger btn-lg btn-block">Logout</button>
</div>


